@font-face {
  font-family: "NeueMetana";
  src: local("NeueMetana"), 
       url("./font/NeueMetanaNext-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMetanaoutline";
  src: local("NeueMetanaoutline"), 
       url("./font/NeueMetanaNextOutline-Black.ttf") format("truetype");
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  padding: 20px;
  gap: 10px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
  grid-row-start: 2;
}

.page .lodat {
  font-family: "NeueMetanaoutline";
  font-size: 60px;
  -webkit-text-stroke: 1px #000000;
}

.page .mine {
  font-family: "NeueMetana";
  font-size: 140px;
}

.versions {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  width: 100%; /* Занимает всю доступную ширину */
  position: relative; /* Для корректной работы внутри потока */
  margin-right: 40%; /* Дополнительное центрирование */
  margin-left: auto;
  font-family: "NeueMetanaoutline";
  font-size: 64px;
  text-align: center;
  -webkit-text-stroke: 1px #000000;
  margin-top: -40px;
  font-size: 60px;
  color: #666;
  padding-top: 20px;
}

.list {
  display: flex;
  align-items: center; /* Выравнивание элементов по вертикали */
  gap: 8px; /* Замена разделителям через li */
  padding: 0;
  margin: 0;
}


.main ol {
  font-family: "NeueMetanaoutline";
  padding-left: 0;
  margin: 0;
  font-size: 64px;
  padding-bottom: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.mineload {
  display: flex;
  flex-direction: column; /* Элементы в колонку */
  gap: 2px; /* Расстояние между элементами */
  align-items: flex-start; /* Выравнивание по левому краю */
}

.mine:after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.nameversion {
  /* Стили для текста Forge */
  font-size: 60px;
  color: #666;
  padding-top: 20px;
}

.numversion {
  /* Стили для версии */
  font-size: 20px;
  font-weight: bold;
  padding-left: 80px;
}

.list li {
  padding-right: 140px;
}

.mineload {
  display: flex;
  gap: 4px; /* Расстояние между текстовыми элементами */
}

.mineload .numversions {
  font-size: 20px;
}

.mineversion {
  padding-bottom: 10px;
}

.statusbar {
    display: flex;
    justify-content: center; /* Горизонтальное центрирование блока */
    gap: 100px; /* Расстояние между элементами */
    margin: -20px auto; /* Центрирование блока, если нужно */
    width: 100%; /* Или задайте фиксированную ширину */

  width: 791px;
  border: 3px solid;
  border-radius: 10px;
  height: 74px;
}

.start, .init, .post_progress, .startsession, .done {
  margin-top: -3px;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  background-color: #dfdfdf;
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
